@import "tailwindcss";

:root {
  --background: #faf8ff;
  --foreground: #131b2e;
}

@theme inline {
  --color-surface: #faf8ff;
  --color-surface-dim: #d2d9f4;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f3ff;
  --color-surface-container: #eaedff;
  --color-surface-container-high: #e2e7ff;
  --color-on-surface: #131b2e;
  --color-on-surface-variant: #464556;
  --color-primary: #433fe5;
  --color-on-primary: #ffffff;
  --color-secondary: #8127cf;
  
  --font-sans: var(--font-plus-jakarta-sans);
  --font-display: var(--font-anybody);
  
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
